.Button_Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Previous_Record_Button{
        background-color: rgba(83,91,98,.5);
        border-radius: 6px;
        color: #fff;
        height: 40px;
        transform: translateY(-50%);
        width: 40px;
        // z-index: 3;
        margin-top: 5rem;
    }
    .Button_Text{
        font-size: 1.6rem;
        font-weight: 600;
    }

    .Load_More_Record_Button{ 
        background-color:#1f7ae0;
        border-radius: 6px 6px 0px 0px;
        color: #fff;
        height: 32px;
        width: 100%;
    }

    .Previous_Record_Button:hover{    
        background-color: rgba(83,91,98,.6);
    }
}

.Previous_Button_Container{
    margin-right: 1rem;
}

button {
    background: unset;
    border: unset;
    font-size: inherit;
    cursor: pointer;
}